.table-wrapper {
  flex: 1;
  overflow: scroll;
  padding-bottom: var(--padding-lg);
  padding-right: var(--padding-lg);
}
.cell-text,
.cell-input {
  position: absolute;
  inset: 0;
  vertical-align: middle;
  border: none;
  padding: var(--padding-sm) var(--padding-md);
}

.cell-input {
  opacity: 0;
  cursor: default;

  background-color: var(--muted);
  color: var(--muted-foreground);

  &:focus {
    opacity: 1;
    background-color: var(--muted);
    outline: 1px solid var(--cell-outline);
  }
}

.selected {
  background-color: var(--selected-cell-background);
  color: var(--selected-cell-foreground);
}

.selected-top {
  border-top: 2px dashed var(--selected-cell-accent);
}
.selected-bottom {
  border-bottom: 2px dashed var(--selected-cell-accent);
}
.selected-left {
  border-left: 2px dashed var(--selected-cell-accent);
}
.selected-right {
  border-right: 2px dashed var(--selected-cell-accent);
}

th:hover .header-contextmenu {
  outline: 1px solid var(--cell-outline);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  &::after {
    opacity: 1;
  }
}

.header-contextmenu {
  margin: 0 auto;
  width: 50%;
  border-radius: var(--radius);
  position: relative;
  padding: 0 var(--padding-md);
  background-color: transparent;

  &::after {
    opacity: 0;
    content: '';
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border: 0.25em solid transparent;
    border-top-color: var(--foreground);

    &:hover {
      border-top-color: var(--foreground);
    }
  }
}
.header-contextmenu.row {
  width: 100%;
  &::after {
    right: 0.5rem;
  }
}
