#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  color: var(--foreground);
}
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-lg);
}
main {
  flex-grow: 1;
  overflow: auto;
}
button {
  background-color: var(--background);
  color: var(--foreground);
  border: none;
  padding: var(--padding-sm);
  border-radius: var(--radius);
  &:hover,
  &:focus {
    background-color: var(--muted);
    border: var(--muted-foreground) solid 1px;
    border-radius: var(--radius);
  }
}
input {
  background-color: var(--muted);
  color: var(--muted-foreground);
  /* FIX_ME: autocomplete input changes background forever */
  /* &:focus,
  &:focus-within {
    background-color: var(--muted);
  } */
}

/* Utils ==================================================== */
.utils {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2em;
}
.save,
.dark-btn {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  &:hover,
  &:focus {
    border-radius: 50%;
  }
}
.save svg {
  fill: var(--foreground);
}

/*TABLE ========================================================== */
table,
input,
span {
  width: 100%;
  height: 100%;
}

th {
  background-color: var(--muted);
  color: var(--muted-foreground);
  text-align: center;
  border: none;
  padding: var(--padding-md) 0;
}

td {
  border: 1px solid var(--border);
  border-top: none;
  border-right: none;
  position: relative;
  min-width: 50px;
}

td:focus,
td:active {
  border: none;
  outline: 2px solid var(--cell-outline);
}
span,
input {
  position: absolute;
  inset: 0;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 0;
  opacity: 0;
  cursor: default;
  width: 100%;

  &:focus {
    opacity: 1;
    outline: 2px solid var(--cell-outline);
  }
}
/* TO_DO: add selection border */
.selected {
  background-color: var(--selected-cell-background);
  color: var(--selected-cell-foreground);
  /* border-right: 2px solid red; */
}
/* .selected + .selected {
  border: none;
} */
