@import '../components/Header/modules.css';
@import '../components/Spreadsheet/modules.css';
@import '../components/Modal/modules.css';
@import '../components/ContextualMenu/modules.css';
/* GENERAL ========================================================== */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* COMPONENTS ========================================================== */
.button {
  background-color: var(--background);
  color: var(--foreground);
  padding: var(--padding-sm);
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  outline: none;

  &:hover,
  &:focus-visible,
  &:active,
  &:focus-within {
    background-color: var(--muted);
    outline: var(--muted-foreground) solid 1px;
  }
}
.btn-round {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
}
.action-button {
  border: 1px solid var(--foreground);
  padding: var(--padding-lg);
  background-color: var(--selected-cell-background);
  color: var(--selected-cell-foreground);
  &:hover {
    opacity: 0.8;
    background-color: var(--selected-cell-background);
  }
}

/* Error ========================================================== */
.error-boundary {
  flex: 0;
  padding: 1rem;
}
.error-boundary.main {
  flex: 1;
  flex-direction: column;
}
.error-boundary a {
  padding: 0.2rem 05rem;
}
